==== Certificate chain template file ====
# Only files prefixed by a single digit+colon are processed.
# Template directives should be in certtool format.
# A chain in ascending number order will be created (cert 0 is self-signed)
# Certificate number 0-9 is allowed.

==== Description and outcome ====
# These lines may be processed by testing script, don't change prefixes.
description: difficult intersection - IP falls out by due to intersection
expected-outcome: FAIL

==== Root CA (will be self signed) ====
0: cn = CA-0
0: serial = 0
0: expiration_days = -1
0: ca
0: cert_signing_key

==== Following certificate ====
1: cn = CA-1
1: serial = 1
1: ca
1: expiration_days = -1
1: cert_signing_key
1: nc_permit_ip = 0.0.0.0/3
1: nc_permit_ip = 88.0.0.0/5

==== Following certificate ====
2: cn = CA-2
2: serial = 2
2: ca
2: expiration_days = -1
2: cert_signing_key
2: nc_permit_ip = 0.0.0.0/5
2: nc_permit_ip = 16.0.0.0/5
2: nc_permit_ip = 64.0.0.0/3

==== End-point certificate ====
3: cn = server-3
3: echo expiration_days = -1
3: signing_key
3: encryption_key
3: ip_address = 15.255.255.255
